In [2]:
import numpy as np
import pandas as pd

In [42]:
#NYC Data
#checking length of files (number of rows) and saving saving headers into titles for checking 
file_names = [year + "-" + month + "-citibike-tripdata.csv" for year in ["2013", "2014", "2015", "2016"] for month in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]]
nyc_headers = []
file_names = file_names[6:-6]
for file in file_names:
    df = pd.read_csv(file)
    print(file)
    print(df.shape)
    #print(df.columns.values)
    nyc_headers.append(list(df.columns.values))
    #print(titles)
df.head()

2013-07-citibike-tripdata.csv
(843416, 15)
2013-08-citibike-tripdata.csv
(1001958, 15)
2013-09-citibike-tripdata.csv
(1034359, 15)
2013-10-citibike-tripdata.csv
(1037712, 15)
2013-11-citibike-tripdata.csv
(675774, 15)
2013-12-citibike-tripdata.csv
(443966, 15)
2014-01-citibike-tripdata.csv
(300400, 15)
2014-02-citibike-tripdata.csv
(224736, 15)
2014-03-citibike-tripdata.csv
(439117, 15)
2014-04-citibike-tripdata.csv
(670780, 15)
2014-05-citibike-tripdata.csv
(866117, 15)
2014-06-citibike-tripdata.csv
(936880, 15)
2014-07-citibike-tripdata.csv
(968842, 15)
2014-08-citibike-tripdata.csv
(963489, 15)
2014-09-citibike-tripdata.csv
(953887, 15)
2014-10-citibike-tripdata.csv
(828711, 15)
2014-11-citibike-tripdata.csv
(529188, 15)
2014-12-citibike-tripdata.csv
(399069, 15)
2015-01-citibike-tripdata.csv
(285552, 15)
2015-02-citibike-tripdata.csv
(196930, 15)
2015-03-citibike-tripdata.csv
(341826, 15)
2015-04-citibike-tripdata.csv
(652390, 15)
2015-05-citibike-tripdata.csv
(961986, 15)
2015-06-citibike-tripdata.csv
(941219, 15)
2015-07-citibike-tripdata.csv
(1085676, 15)
2015-08-citibike-tripdata.csv
(1179044, 15)
2015-09-citibike-tripdata.csv
(1289699, 15)
2015-10-citibike-tripdata.csv
(1212277, 15)
2015-11-citibike-tripdata.csv
(987245, 15)
2015-12-citibike-tripdata.csv
(804125, 15)
2016-01-citibike-tripdata.csv
(509478, 15)
2016-02-citibike-tripdata.csv
(560874, 15)
2016-03-citibike-tripdata.csv
(919921, 15)
2016-04-citibike-tripdata.csv
(1013149, 15)
2016-05-citibike-tripdata.csv
(1212280, 15)
2016-06-citibike-tripdata.csv
(1460318, 15)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1470,6/1/2016 00:00:18,6/1/2016 00:24:48,380,W 4 St & 7 Ave S,40.734011,-74.002939,3236,W 42 St & Dyer Ave,40.758985,-73.993800,19859,Subscriber,1972.0,1
1,229,6/1/2016 00:00:20,6/1/2016 00:04:09,3092,Berry St & N 8 St,40.719009,-73.958525,3103,N 11 St & Wythe Ave,40.721533,-73.957824,16233,Subscriber,1967.0,1
2,344,6/1/2016 00:00:21,6/1/2016 00:06:06,449,W 52 St & 9 Ave,40.764618,-73.987895,469,Broadway & W 53 St,40.763441,-73.982681,22397,Subscriber,1989.0,1
3,1120,6/1/2016 00:00:28,6/1/2016 00:19:09,522,E 51 St & Lexington Ave,40.757148,-73.972078,401,Allen St & Rivington St,40.720196,-73.989978,16231,Subscriber,1991.0,1
4,229,6/1/2016 00:00:53,6/1/2016 00:04:42,335,Washington Pl & Broadway,40.729039,-73.994046,285,Broadway & E 14 St,40.734546,-73.990741,15400,Subscriber,1989.0,1

In [41]:
#NYC Data
#checking that the headers are the same for all files
header1 = nyc_headers[0]
for header2 in nyc_headers:
    if header1 == header2:
        print("same")
    else:
        print("something wrong")
        
print(header1)

same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
same
['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']

In [109]:
#SF Data
#checking length of files (number of rows) and saving saving headers into titles for checking 
file_names = ["201402_trip_data.csv", "201408_trip_data.csv", "201508_trip_data.csv"]
sf_headers = []
sf_frame = []
for file in file_names:
    df = pd.read_csv(file)
    print(file)
    print(df.shape)
    sf_headers.append(list(df.columns.values))
    sf_frame.append(df)
sf_frames = pd.concat(sf_frame)

sf_frames.head()

201402_trip_data.csv
(144015, 11)
201408_trip_data.csv
(171792, 11)
201508_trip_data.csv
(354152, 11)

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [28]:
#SF Data
#checking that the headers are the same for all files
#!!!"Subscription Type" in 2014 02 file, but "Subscriber Type" in 2014 08 and 2015 08 files
header1 = sf_headers[0]
sf_headers[0][9] = "Subscriber Type"
for header2 in sf_headers:
    if header1 == header2:
        print("same")
    else:
        print("something wrong")
    print(header2)

same
['Trip ID', 'Duration', 'Start Date', 'Start Station', 'Start Terminal', 'End Date', 'End Station', 'End Terminal', 'Bike #', 'Subscriber Type', 'Zip Code']
same
['Trip ID', 'Duration', 'Start Date', 'Start Station', 'Start Terminal', 'End Date', 'End Station', 'End Terminal', 'Bike #', 'Subscriber Type', 'Zip Code']
same
['Trip ID', 'Duration', 'Start Date', 'Start Station', 'Start Terminal', 'End Date', 'End Station', 'End Terminal', 'Bike #', 'Subscriber Type', 'Zip Code']

In [3]:
#Weather Data from GOV
df = pd.read_csv("NYC Weather Data.csv", parse_dates = ["DATE"], dtype = 'str')
print(list(df.columns.values))
df["Date Sort"] = df["DATE"].dt.strftime('%Y%m%d')

Stations = np.unique(df['STATION_NAME']) 
print(Stations)
Days = np.unique(df['Date Sort']) 
print(Days)
df.head()

['STATION', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE', 'MDPR', 'DAPR', 'PRCP', 'SNWD', 'SNOW', 'TAVG', 'TMAX', 'TMIN', 'TOBS', 'AWND', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'PGTM', 'WT09', 'WT01', 'WT06', 'WT05', 'WT02', 'WT11', 'WT04', 'WT08', 'WT03', 'WT10']
['BLOOMFIELD 1.7 S NJ US' 'BLOOMINGDALE 0.7 SSE NJ US'
 'BOONTON 0.6 NW NJ US' 'BOONTON 0.7 WSW NJ US' 'BOONTON 1 SE NJ US'
 'BRONX NY US' 'BROOKLYN 3.1 NW NY US' 'CALDWELL ESSEX CO AIRPORT NJ US'
 'CANOE BROOK NJ US' 'CEDAR GROVE TWP 0.4 W NJ US'
 'CEDAR GROVE TWP 0.9 NE NJ US' 'CENTERPORT NY US' 'CHATHAM 0.6 NW NJ US'
 'CHATHAM TWP 1.1 NNW NJ US' 'CHATHAM TWP 2.0 NNW NJ US'
 'COLTS NECK TWP 2.4 NW NJ US' 'CRANFORD NJ US'
 'CRANFORD TWP 1.1 NNW NJ US' 'EAST BRUNSWICK TWP 3.3 NNE NJ US'
 'EAST FARMINGDALE 0.9 W NY US' 'EATONTOWN 1.2 NE NJ US'
 'EDISON TWP 1.4 N NJ US' 'EDISON TWP 1.9 N NJ US' 'FAIR HAVEN 0.4 E NJ US'
 'FARMINGDALE REPUBLIC AIRPORT NY US' 'FLORAL PARK 0.4 W NY US'
 'FLORHAM PARK 0.2 WNW NJ US' 'GLEN ROCK 0.4 WNW NJ US'
 'GLEN ROCK 0.7 SSE NJ US' 'HARRISON 0.3 N NJ US' 'HARRISON NJ US'
 'HAWTHORNE 0.4 S NJ US' 'HAWTHORNE 1.0 SSE NJ US'
 'HOLMDEL TWP 0.7 E NJ US' 'JFK INTERNATIONAL AIRPORT NY US'
 'KEARNY 1.7 NW NJ US' 'KENILWORTH 0.8 SSE NJ US'
 'LA GUARDIA AIRPORT NY US' 'LEVITTOWN 0.2 E NY US'
 'LITTLE FALLS TWP 0.5 WNW NJ US' 'LONG BRANCH 0.5 W NJ US'
 'LONG BRANCH 1.7 SSW NJ US' 'LONG HILL TWP 1.2 SSE NJ US'
 'LYNBROOK 0.3 NW NY US' 'MADISON 0.5 ESE NJ US' 'MADISON 0.8 WSW NJ US'
 'MAPLEWOOD TWP 0.9 SE NJ US' 'MATAWAN 1.1 WSW NJ US'
 'MIDDLE VILLAGE 0.5 SW NY US' 'MIDDLETOWN TWP 3.6 NW NJ US'
 'MIDLAND PARK NJ US' 'MONTCLAIR 2.2 NNE NJ US' 'MORRISTOWN 1.2 ESE NJ US'
 'MORRISTOWN 1.4 E NJ US' 'NEW PROVIDENCE 0.8 ESE NJ US'
 'NEW ROCHELLE 1.3 S NY US'
 'NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US'
 'NEWARK LIBERTY INTERNATIONAL AIRPORT NJ US'
 'NORTH ARLINGTON 0.7 WNW NJ US' 'NORTH HALEDON 0.6 N NJ US'
 'OAKLAND 0.2 WNW NJ US' 'OAKLAND 0.9 SSE NJ US' 'OAKLAND 1.0 ESE NJ US'
 'OLD BRIDGE TWP 5.1 NE NJ US' 'PALISADES PARK 0.2 WNW NJ US'
 'PARSIPPANY TROY HILLS TWP 1.3 NJ US'
 'PARSIPPANY TROY HILLS TWP 2.1 NJ US' 'PATERSON 2.0 W NJ US'
 'PUTNAM LAKE CT US' 'RAMSEY 0.6 E NJ US' 'RED BANK 1.3 NW NJ US'
 'RINGWOOD 3.0 SSE NJ US' 'RIVER VALE TWP 1.5 S NJ US'
 'ROSELLE PARK 0.5 ENE NJ US' 'RUMSON 0.5 NE NJ US' 'RUMSON 0.7 NNE NJ US'
 'SADDLE BROOK TWP 0.6 E NJ US' 'SAYREVILLE 1.3 ESE NJ US'
 'SOUTH PLAINFIELD 0.7 NNW NJ US' 'SOUTH PLAINFIELD 0.8 ENE NJ US'
 'SOUTH PLAINFIELD 0.9 NW NJ US' 'SPRING VALLEY 1.7 N NY US'
 'STATEN ISLAND 1.4 SE NY US' 'STATEN ISLAND 4.5 SSE NY US'
 'SUMMIT 1.0 NNW NJ US' 'TENAFLY 1.3 W NJ US' 'TETERBORO AIRPORT NJ US'
 'UNION TWP 1.1 NW NJ US' 'VERONA TWP 0.6 WSW NJ US' 'WANAQUE 0.6 S NJ US'
 'WANAQUE RAYMOND DAM NJ US' 'WAYNE TWP 0.8 SSW NJ US'
 'WEST CALDWELL TWP 1.3 NE NJ US' 'WEST NYACK 1.3 WSW NY US'
 'WESTCHESTER CO AIRPORT NY US' 'WESTFIELD 0.6 NE NJ US'
 'WESTFIELD 1.0 NE NJ US' 'WHITE PLAINS 3.1 NNW NY US'
 'WOOD RIDGE 0.6 NNW NJ US' 'WOODBRIDGE TWP 1.1 ESE NJ US'
 'WOODBRIDGE TWP 1.1 NNE NJ US' 'WOODBRIDGE TWP 3.0 NNW NJ US']
['20130701' '20130702' '20130703' ..., '20160628' '20160629' '20160630']

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MDPR,DAPR,PRCP,SNWD,...,WT01,WT06,WT05,WT02,WT11,WT04,WT08,WT03,WT10,Date Sort
0,GHCND:US1NYWC0003,WHITE PLAINS 3.1 NNW NY US,71,41.0639,-73.7722,2013-07-01,-9999,-9999,0.00,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130701
1,GHCND:US1NYWC0003,WHITE PLAINS 3.1 NNW NY US,71,41.0639,-73.7722,2013-07-02,-9999,-9999,2.58,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130702
2,GHCND:US1NYWC0003,WHITE PLAINS 3.1 NNW NY US,71,41.0639,-73.7722,2013-07-03,-9999,-9999,0.00,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130703
3,GHCND:US1NYWC0003,WHITE PLAINS 3.1 NNW NY US,71,41.0639,-73.7722,2013-07-16,-9999,-9999,0.00,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130716
4,GHCND:US1NYWC0003,WHITE PLAINS 3.1 NNW NY US,71,41.0639,-73.7722,2013-07-17,-9999,-9999,0.00,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130717

In [92]:
#Weather Data from GOV
df = pd.read_csv("NYC Weather Data.csv", parse_dates = ["DATE"], dtype = 'str')
print(list(df.columns.values))
df["weather key"] = df["DATE"].dt.strftime('%Y%m%d')

#filter out stations that aren't Central Park: 'NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US'
Station_Bool = []
Station_Bool = df.STATION_NAME == 'NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US'
is_central_park = pd.Series(Station_Bool)

df = df[is_central_park]
print(Station_Bool[0:5])
#Stations = np.unique(df['STATION_NAME']) 
#print(Stations)
df.head()

['STATION', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE', 'MDPR', 'DAPR', 'PRCP', 'SNWD', 'SNOW', 'TAVG', 'TMAX', 'TMIN', 'TOBS', 'AWND', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'PGTM', 'WT09', 'WT01', 'WT06', 'WT05', 'WT02', 'WT11', 'WT04', 'WT08', 'WT03', 'WT10']
0    False
1    False
2    False
3    False
4    False
Name: STATION_NAME, dtype: bool

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MDPR,DAPR,PRCP,SNWD,...,WT01,WT06,WT05,WT02,WT11,WT04,WT08,WT03,WT10,weather key
51794,GHCND:USW00094728,NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US,39.6,40.77889,-73.96917,2013-09-01,-9999,-9999,0.00,0.0,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130901
51795,GHCND:USW00094728,NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US,39.6,40.77889,-73.96917,2013-09-02,-9999,-9999,0.05,0.0,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130902
51796,GHCND:USW00094728,NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US,39.6,40.77889,-73.96917,2013-09-03,-9999,-9999,0.03,0.0,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130903
51797,GHCND:USW00094728,NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US,39.6,40.77889,-73.96917,2013-09-04,-9999,-9999,0.00,0.0,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130904
51798,GHCND:USW00094728,NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US,39.6,40.77889,-73.96917,2013-09-05,-9999,-9999,0.00,0.0,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,20130905

In [93]:
#Weather Data from SF
from datetime import datetime
file_names = ["201402_weather_data.csv", "201408_weather_data.csv", "201508_weather_data.csv"]
sf_weather_headers = []
sf_weather_frame = []
for file in file_names:
    df = pd.read_csv(file)
    print(file)
    print(df.shape)
    sf_weather_headers.append(list(df.columns.values))
    sf_weather_frame.append(df)
print(df.columns.values)
sf_weather_frames = pd.concat(sf_weather_frame)
PDT = np.unique(sf_weather_frames['PDT'])  
for index in range(len(PDT)):
    PDT[index] = datetime.strptime(PDT[index], '%m/%d/%Y')

PDT.sort()
PDT = [str(item.year) +" " + str(item.month) + " " + str(item.day) for item in PDT]

#print(PDT)


ZIP = np.unique(sf_weather_frames['Zip'])
print(ZIP)

201402_weather_data.csv
(920, 24)
201408_weather_data.csv
(920, 24)
201508_weather_data.csv
(1825, 24)
['PDT' 'Max TemperatureF' 'Mean TemperatureF' 'Min TemperatureF'
 'Max Dew PointF' 'MeanDew PointF' 'Min DewpointF' 'Max Humidity'
 ' Mean Humidity' ' Min Humidity' ' Max Sea Level PressureIn'
 ' Mean Sea Level PressureIn' ' Min Sea Level PressureIn'
 ' Max VisibilityMiles' ' Mean VisibilityMiles' ' Min VisibilityMiles'
 ' Max Wind SpeedMPH' ' Mean Wind SpeedMPH' ' Max Gust SpeedMPH'
 'PrecipitationIn' ' CloudCover' ' Events' ' WindDirDegrees' 'Zip']
[94041 94063 94107 94301 95113]

In [40]:
#SF Weather Data
#checking that the headers are the same for all files
#!!!header labels for first file is completely different, but order is the same. 
#still need to figure out how to join the sf table to the sf bike data
sf_weather_headers[0] = sf_weather_headers[1]
header1 = sf_weather_headers[0]
for header2 in sf_weather_headers:
    if header1 == header2:
        print("same")
    else:
        print("something wrong")
        print(header2)

same
same
same

In [125]:
#Station Data - map stations to zip code(via city?)
file_names = ["201402_station_data.csv", "201408_station_data.csv", "201508_station_data.csv"]
sf_station_frame = []
sf_station_headers = []
for file in file_names:
    print(file)
    df = pd.read_csv(file)
    sf_station_frame.append(df)
    sf_station_headers.append(list(df.columns.values))
    print(df.shape)
sf_station_frames = pd.concat(sf_station_frame)

201402_station_data.csv
(69, 7)
201408_station_data.csv
(70, 7)
201508_station_data.csv
(70, 7)

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [127]:
#map start station id to station id to get landmark (does landmark map to zip code?)
#get list of unique landmarks
print(np.unique(sf_station_frames['landmark']))

['Mountain View' 'Palo Alto' 'Redwood City' 'San Francisco' 'San Jose']

In [128]:
#All station headers are the same
sf_station_headers[0] = sf_station_headers[1]
header1 = sf_station_headers[0]
for header2 in sf_station_headers:
    if header1 == header2:
        print("same")
    else:
        print("something wrong")
        print(header2)

same
same
same