In [1]:
import pandas as pd

In [2]:
#NYC Data - column names have been renamed
#concatinate all files into one
file_names = [year + "-" + month + "-citibike-tripdata.csv" for year in ["2013", "2014", "2015", "2016"] for month in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]]
file_names = file_names[6:-16]
#file_names = file_names[6:8]
frames = []
for file in file_names:
    print(file)
    frame = pd.read_csv(file, parse_dates =["starttime", "stoptime"])
    print("Done Load")
    #deleting columns that aren't needed
    del frame['start station latitude']
    del frame['start station longitude']
    del frame['end station latitude']
    del frame['end station longitude']
    del frame['birth year']
    del frame['gender']
    frames.append(frame)
print("Done")
nyc_frame = pd.concat(frames)
nyc_frame["city"] = "nyc"

#creating a weather key
nyc_frame["weather key"] = nyc_frame["starttime"].dt.strftime('%Y%m%d')

print(nyc_frame.shape)
nyc_frame.head()
        
nyc_frame.to_csv(path_or_buf="nyc_frame_shorter.csv")

2013-07-citibike-tripdata.csv
Done Load
2013-08-citibike-tripdata.csv
Done Load
2013-09-citibike-tripdata.csv
Done Load
2013-10-citibike-tripdata.csv
Done Load
2013-11-citibike-tripdata.csv
Done Load
2013-12-citibike-tripdata.csv
Done Load
2014-01-citibike-tripdata.csv
Done Load
2014-02-citibike-tripdata.csv
Done Load
2014-03-citibike-tripdata.csv
Done Load
2014-04-citibike-tripdata.csv
Done Load
2014-05-citibike-tripdata.csv
Done Load
2014-06-citibike-tripdata.csv
Done Load
2014-07-citibike-tripdata.csv
Done Load
2014-08-citibike-tripdata.csv
Done Load
2014-09-citibike-tripdata.csv
Done Load
2014-10-citibike-tripdata.csv
Done Load
2014-11-citibike-tripdata.csv
Done Load
2014-12-citibike-tripdata.csv
Done Load
2015-01-citibike-tripdata.csv
Done Load
2015-02-citibike-tripdata.csv
Done Load
2015-03-citibike-tripdata.csv
Done Load
2015-04-citibike-tripdata.csv
Done Load
2015-05-citibike-tripdata.csv
Done Load
2015-06-citibike-tripdata.csv
Done Load
2015-07-citibike-tripdata.csv
Done Load
2015-08-citibike-tripdata.csv
Done Load
Done
(18763024, 11)

In [11]:
#Weather Data from GOV - missing data from earlier days, only starts from '20130901'
#Read in data and format weather key (date only for NYC)
print("start")
nyc_weather_frames = pd.read_csv("NYC Weather Data.csv", parse_dates = ["DATE"], dtype = 'str')
nyc_weather_frames["weather key"] = nyc_weather_frames["DATE"].dt.strftime('%Y%m%d')
#Deleting columns not needed
del nyc_weather_frames['STATION']
del nyc_weather_frames['ELEVATION']
del nyc_weather_frames['LATITUDE']
del nyc_weather_frames['LONGITUDE']
#del nyc_weather_frames['DATE']
del nyc_weather_frames['MDPR']
del nyc_weather_frames['DAPR']
del nyc_weather_frames['SNWD']
del nyc_weather_frames['SNOW']
del nyc_weather_frames['TAVG']
del nyc_weather_frames['TOBS']
del nyc_weather_frames['WDF2']
del nyc_weather_frames['WDF5']
del nyc_weather_frames['WSF2']
del nyc_weather_frames['WSF5']
del nyc_weather_frames['PGTM']
del nyc_weather_frames['WT09']
del nyc_weather_frames['WT01']
del nyc_weather_frames['WT06']
del nyc_weather_frames['WT05']
del nyc_weather_frames['WT02']
del nyc_weather_frames['WT11']
del nyc_weather_frames['WT04']
del nyc_weather_frames['WT08']
del nyc_weather_frames['WT03']
del nyc_weather_frames['WT10']
#rename columns
nyc_weather_frames.rename(columns={"AWND":"avg wind", "TMAX":"max temp", "TMIN":"min temp", \
                        "PRCP":"Pecipitation", "DATE":"Date from Weather File"}, inplace=True)

#filter out stations that aren't Central Park: 'NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US'
nyc_weather_frames = nyc_weather_frames[nyc_weather_frames.STATION_NAME == 'NEW YORK CENTRAL PARK OBS BELVEDERE TOWER NY US']
del nyc_weather_frames['STATION_NAME']
del nyc_weather_frames['Date from Weather File']

nyc_weather_frames.head()

start

      Pecipitation max temp min temp avg wind weather key
60272         0.84       77       72      3.1    20130701
60273         0.08       82       72      2.7    20130702
60274         0.53       83       73      4.3    20130703
60275         0.00       87       75      4.3    20130704
60276         0.00       90       76      4.9    20130705

In [12]:
#merging NYC Data
#For datetime64[ns] types, NaT represents missing values, missing weather data
print("start1")
nyc_merged_data = pd.merge(nyc_frame, nyc_weather_frames, how='left', on="weather key")
#nyc_merged_data.describe
nyc_merged_data.to_csv(path_or_buf="nyc_merged_data_shortened.csv")
print("done1")
nyc_merged_data.head()

start1
done1

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,usertype,city,weather key,Pecipitation,max temp,min temp,avg wind
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,504,1 Ave & E 15 St,16950,Customer,nyc,20130701,0.84,77,72,3.1
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,459,W 20 St & 11 Ave,19816,Customer,nyc,20130701,0.84,77,72,3.1
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,237,E 11 St & 2 Ave,14548,Subscriber,nyc,20130701,0.84,77,72,3.1
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,499,Broadway & W 60 St,16063,Customer,nyc,20130701,0.84,77,72,3.1
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,410,Suffolk St & Stanton St,19213,Subscriber,nyc,20130701,0.84,77,72,3.1

In [8]:
print(nyc_merged_data.shape)
nyc_merged_data.head()

(18763024, 16)

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,usertype,city,weather key,Date from Weather File,Pecipitation,max temp,min temp,avg wind
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,504,1 Ave & E 15 St,16950,Customer,nyc,20130701,2013-07-01,0.84,77,72,3.1
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,459,W 20 St & 11 Ave,19816,Customer,nyc,20130701,2013-07-01,0.84,77,72,3.1
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,237,E 11 St & 2 Ave,14548,Subscriber,nyc,20130701,2013-07-01,0.84,77,72,3.1
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,499,Broadway & W 60 St,16063,Customer,nyc,20130701,2013-07-01,0.84,77,72,3.1
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,410,Suffolk St & Stanton St,19213,Subscriber,nyc,20130701,2013-07-01,0.84,77,72,3.1

The history saving thread hit an unexpected error (OperationalError('database is locked',)).History will not be written to the database.